@font-face {
  font-family: 'icomoon';
  src:  url('/icomoon.eot?k7rgwg');
  src:  url('/icomoon.eot?k7rgwg#iefix') format('embedded-opentype'),
    url('/icomoon.ttf?k7rgwg') format('truetype'),
    url('fonts/icomoon.woff?k7rgwg') format('woff'),
    url('fonts/icomoon.svg?k7rgwg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text2:before {
  content: "\e926";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-table:before {
  content: "\ea70";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
